<aside class="sidebar">
  <img src="{{ site.baseurl }}/assets/images/profile.png" alt="Aliakbar" class="profile-pic">
  
  <a href="{{ site.baseurl }}/" class="site-title">{{ site.title }}</a>

  <nav>
    <ul class="nav-menu">
      <li><a href="{{ site.baseurl }}/index.html">Home 🏡</a></li>
      <li><a href="{{ site.baseurl }}/projects.html">Projects 🛠️</a></li>
      <li><a href="{{ site.baseurl }}/about.html">About 🧔</a></li>
    </ul>
  </nav>

  <div class="sidebar-socials">
    <a href="https://github.com/adicto56" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.codecademy.com/profiles/Aliakbar56" target="_blank"><i class="fas fa-laptop-code"></i></a>
  </div>
</aside>